<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="total_msg_history" value="1000" />    <!--  Limit số tin được lưu -->
    <add key="telegram_token" value="5505144442:AAGJQVcuDdud_XOLGJkauVvY5UFFSIQs8Do" />
    <add key="api_listent_message" value="http://a3.do883.fun/api/food" />
  </appSettings>

</configuration>