<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="is_headless" value="0" />
		
		<add key="DOMAIN_WEBSITE_CRAWLER" value="https://chat.zalo.me/" />
		<add key="schedule_time_minute" value="1" />
		<add key="delay_start" value="1" />		
		
	</appSettings>

</configuration>